{
    # Приоритет выполнения прокси-модуля над файловым сервером
    order forward_proxy before file_server
}

# Конфигурация виртуального хоста
{$DOMAIN} {
    # Управление жизненным циклом SSL/TLS сертификатов
    tls {$EMAIL}

    # Спецификация NaiveProxy
    forward_proxy {
        # Аутентификация основного пользователя
        basic_auth {$USER1_NAME} {$USER1_PASS}

        # Регистрация дополнительных учетных записей (раскомментирование для активации)
        # basic_auth {$USER2_NAME} {$USER2_PASS}
        # basic_auth {$USER3_NAME} {$USER3_PASS}
        
        # Анонимизация сетевых метаданных
        hide_ip
        hide_via
        
        # Предотвращение активного зондирования (сканирования)
        probe_resistance
    }

    # Вариант 1: Обслуживание локального статического контента
    # root * /var/www/html
    # file_server

    # Вариант 2: Реверс-прокси на ресурс с высоким трафиком (Маскировка Heavy Camouflage)
    reverse_proxy {$PROXY_SITE} {
        # Динамическая подстановка заголовка Host для корректного проксирования
        header_up Host {upstream_hostport}
        # Передача IP-адреса инициатора запроса
        header_up X-Real-IP {remote_host}
        # Запрет индексации прокси-домена поисковыми системами
        header_down X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
    }
}
